{% load staticfiles %}
<div class="bs-docs-section analyses" id="">

      <div class="container">
        <button type="button" class = "btn btn-success" data-toggle="collapse" data-target="#plot_img"> Plot </button>


        <div id="plot_img" class="collapse" alt="plot">
              
        </div>

      </div>

    <div class = "panel-body analyses" id="">
        	<table class="table table-hover table-striped table-bordered" id="circrna_drug_table">
  				<thead>
    				<tr>
      					<th>circRNA</th>
      					<th>Drug</th>
      					<th>IC50 Difference</th>
      					<th>FDR</th>
    				</tr>
  				</thead>

  				<tbody>
  					
  				</tbody>
				  </table>

  </div>
</div>