{% load staticfiles %}
<footer class="bs-docs-footer" role="contentinfo" style="margin-top: 30px;">
    <div class="container">
		<div class="col-md-3">
			<a href="https://med.uth.edu"> <img src="{% static 'image/UTHealth_logo.png' %}" style="height: 65px" alt="UThealth_logo"> </a>
		</div>
        <div class="col-md-6">
        <ul class="list-inline">
            <li><a href="https://med.uth.edu/bmb/faculty/leng-han-ph-d/" target=_blank style="font-weight: 600" title="Han Lab" class="text-primary">Han Lab</a> </li>
            <li> <a href="https://med.uth.edu/" target=_blank style="font-weight: 500" title="linked to McGovern" class="text-primary">McGovern Medical School</a> </li>
            <li><a href="https://www.uth.edu/index/file-viewing-information.htm" target=_blank style="font-weight: 500" class="text-primary">Web File Viewing</a></li>
            <li><a href="https://www.uth.edu/index/policies.htm" target=_blank style="font-weight: 500" class="text-primary">Website Policies</a></li>
        </ul>
        </div>
        <div class="col-md-3">
            <p> 
                <a href="https://www.uth.edu/" target=_blank style="font-weight: 500" class="text-primary">The University of Texas Health Science Center at Houston (UTHealth) Copyright &copy 2008-present</a>
            </p>
        </div>
        <!--div style="display:inline-block;width:200px;"><script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=0q392jancn3&amp;m=7&amp;c=ff0000&amp;cr1=ffffff&amp;br=10&amp;sx=0&amp;ds=60" async="async"></script></div-->
    </div>
</footer>
