{% load staticfiles %}
<div class="bs-docs-section analyses" id="">
        <!-- <div class="panel-body analyses" id=""> -->
<!--   <div id="tabs" class="analyses">
    <ul>
      <li><a href="#tabs_1">Expression</a></li>
      <li><a href="#tabs_2">Plots</a></li>
    </ul> -->
    <div class = "panel-body analyses" id="">
        	<table class="table table-striped table-hover table-bordered" id="circrna_cor_table">
  				<thead>
    				<tr>
      					<th>Query Gene</th>
      					<th>Spearman Correlation</th>
      					<th>FDR</th>
      					<th>Query Gene type</th>
                <th>Plots</th>
    				</tr>
  				</thead>

  				<tbody>
  					
  				</tbody>
				  </table>

<!--     </div>
    <div id="tabs_2">
        <p> Position holder for plots tab </p>
    </div> --> 
  </div>
</div>
